<div class="spinner-container" *ngIf="loader">
    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="containerBread" *ngIf="!loader">
    Inicio
</div>

<div class="wrapper" *ngIf="!loader">
    <div class="boton">
        <h3>Mis Mascotas</h3>
        <button routerLink="/Mascotas" class="btn">Agregar Nueva Mascota</button>
    </div>

    <div class="container">
        <div class="card-container">
            <article class="card-article" *ngFor="let mascota of mascotas">
                <img width="5px" height="8px" [src]="mascota.foto" alt="image" class="card-img">

                <div class="card-data">
                     <!-- <span class="card-description">{{ mascota.motivoConsulta || 'Motivo de Consulta' }}</span> -->
                    <h2 class="card-title">{{ mascota.nombreMascota }}</h2>
                    <a [routerLink]="['/PerfilMascota', mascota._id]" class="card-button">Ver Mascota</a>
                    <a [routerLink]="['/AgendarCita', mascota._id]" class="card-button">Nueva Cita</a>
                </div>
            </article>
        </div>
    </div>
</div>