/* VARIABLES CSS */
:root {
    --first-color: hsl(82, 60%, 28%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsl(0, 0%, 95%);
    --container-color: hsl(0, 0%, 100%);

    /* FONTS **/
    --body-font: "Poppins", sans-serif;
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem
}

@media screen and (min-width: 1120px) {
    :root{
        --h2-font-size: 1.5rem;
        --small-font-size: .875rem;
    }

   
}

img {
    display: block;
    max-width: 100%;
    /* height: auto; */
    width: 100px;    
    height: 300px;   
    object-fit: cover;
}

a {
    margin: 10px; 
}

.wrapper{
    text-align: center;
}



 
.boton{
    /* place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
    display: inline-block;
    justify-content: center; 
    align-items: center;         */
    margin-top: 180px;
    background-color: #c5dfde;
    border-radius: 8px;     
    width: 800px;  
    align-content: end;
    margin-left: 400px;

}

.btn {
    background-color: #3ed98f; 
    color: white;              
    border: none;              
    border-radius: 8px;       
    padding: 12px 24px;       
    font-size: 16px;          
    cursor: pointer;          
    transition: background-color 0.3s ease, transform 0.3s ease; 
    
  }
  
  .btn:hover {
    background-color: #0056b3; /* Color de fondo en hover */
    transform: scale(1.05);    /* Escala el botón al pasar sobre él */
  }
  
  .btn:active {
    background-color: #003d7a; /* Color de fondo al hacer clic */
    transform: scale(0.95);    /* Escala el botón al hacer clic */
  }

/* CARD */

.containerCitasP {
    /* display: grid; */
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
    border-radius: 8px;    
    display: inline-block;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    height: 50vh;   
    width: 120vh; 
    margin-left: 500px;    
    background-color: #a1d3bb;
    padding: 12px 24px; 
    margin: 20px 15px 30px 10px; 

}

.containerCitasA {
    /* display: grid; */
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
    border-radius: 8px;    
    display: block ;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    height: 50vh; 
    width: 80vh;       
    background-color: #a1bcd3;
    padding: 12px 24px;  
    margin: 20px 15px 30px 400px;

}

.card-container{
    display: grid;
    row-gap: 3.5rem;
}

.card-article {
    position: relative;
    overflow: hidden;
}

.card-img {
    width: 328px;
    border-radius: 1.5rem;

}

.card-data {
    width: 200px;
    background-color: white;
    padding: 1.5rem 2rem;
    box-shadow: 0.8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.card-description{
    display: block;
    font-size: .813rem;
    margin-bottom: .25rem;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(55, 149, 55);
    margin-bottom: .75rem;
}

.card-button {
    text-decoration: none;
    font-size: .813rem;
    font-weight: 500;
    color: rgb(55, 100, 149);;
}

.card-button:hover {
    text-decoration: underline;
}

/* ANIMACIONES DEL HOVER */
.card-article:hover .card-data{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card-article:hover {
    animation: remove-overflow 2s forwards;
}

.card-article:not(:hover){
    animation: show-overflow 2s forwards;
}

.card-article:not(:hover) .card-data{
    animation: remove-data 1s forwards;
}

.card-container #table {
    width: auto; /* Ancho completo del contenedor */
    border-collapse: collapse; /* Fusiona bordes adyacentes */
    text-align: center;
  }

  tr, td {
    
    position: relative;
    box-sizing: border-box;
    padding: 8px 16px; ; /* Espacio interno en celdas */
    text-align: left; /* Alineación del texto */
  }

  th {
    position: relative;
    box-sizing: border-box;
    padding: 8px 16px;
    background-color: #f2f2f2; /* Color de fondo para encabezados */
  }

  tr:nth-child(even) {
    background-color: #f9f9f9; /* Color de fondo alternante para filas */
  }


/* CARD ANIMATIONS */
@keyframes show-data{
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow{
    to{
        overflow: initial;
    }
}

@keyframes remove-data{
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(-5rem);
    }
}


@keyframes show-overflow{
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}

/* BREAKPOINTS */

/* PANTALLAS PEQUEÑAS*/
@media screen and (max-width: 340px) {
    .container{
        margin-inline: 1rem;
    }

    .card-data{
        width: 250px;
        padding: 1rem;
    }
}

/* PANTALLAS MEDIANAS*/
@media screen and (min-width: 768px){
    .card-container{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }
    
}


/* PANTALLAS GRANDES */
@media screen and (min-width: 1120px){
    .container{
        height: 100vh;
    }

    .card-container{
        grid-template-columns: repeat(3, 1fr);
    }

    .card-img{
        width: 300px;
    }

    .card-data{
        width: 280px;
        padding-inline: 2.5rem;
    }

    
.card-description{
    font-size: .813rem;
    
}

.card-title {
    font-size: 1.25rem;


}

}


