body {
    font-family: Arial, sans-serif;
}

body {
    margin-left: 14%; 
}

h1 {
    width: 20px;
}

#formContent {
    border-radius: 10px;
    background: #fff;
    padding: 20px; /* Reducido el padding para hacer la tarjeta m치s peque침a */
    width: 90%;
    max-width: 400px; /* Reducido el tama침o m치ximo de la tarjeta */
    position: relative;
    padding: 0px;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.3); /* Reducida la sombra para que no se vea tan pesada */
    text-align: center;
  }
  
  .CrearCuenta input[type="email"],
  .CrearCuenta button[type="submit"] {
    padding: 10px 30px; 
    font-size: 14px; 
  }
  
  .Campo.left span {
    font-size: 14px;
  }
  
  .Campo.Acciones {
    margin-top: 20px; 
  }

  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 0%;
    padding: 50px 0; 
    margin-bottom: 0%;
    margin-top: 0%;
  }
  
  #formContent {
    border-radius: 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    text-align: center;
  }
  
  .CrearCuenta input[type="email"] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  
  .CrearCuenta input[type="email"]:focus {
    background-color: #fff;
    border-bottom: 2px solid #6168ff;
  }
  
  .CrearCuenta input[type="email"]::placeholder {
    color: #cccccc;
  }
  
  .CrearCuenta .Campo.left button[type="submit"] {
    background-color: #6168ff;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 5px 20px 40px 20px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .CrearCuenta .Campo.left button[type="submit"]:hover {
    background-color: #6168ff;
  }
  
  .CrearCuenta .Campo.left button[type="submit"]:active {
    transform: scale(0.95);
  }
  
  .CrearCuenta .Campo.left span {
    display: inline-block;
    margin-left: 10px;
  }
  
  .Campo.Acciones {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .Campo.Acciones a {
    cursor: pointer;
  }
  